#modal-box{
  background-color: #139B93;
  padding: 10%;
  height : 100%;
  overflow: auto;
  max-height: calc(100vh - 200px);
  display: flex;
  flex-wrap: wrap;
}

#message{
  margin: 25px;
 }

.message {
  display: flex;
  flex-direction: column;
  width: 90%;
}

body {
  background-color: #139B93;
  padding: 10%;
}

.button-old{
  background-color: #B1FE70;
  color: #3C1642;
  border-radius: 5px;
  border-color: #B1FE70;
  margin:10px;
}
#message-text{
  background-color: #B2FF9E;
  color: #163e42;
  border-radius: 15px;
  border-color: #B2FF9E;
}
#chatroom-name{
  background-color: #B2FF9E;
  color: #3C1642;
  border-radius: 5px;
  border-color: #B2FF9E;
}

#log-in-modal{
  background-color: #139B93;
  text-align: center;
  height : 100%;
  color: black;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#log-in-button{
  background-color: #B1FE70;
  color: #3C1642;
  border-radius: 5px;
  border-color: #B1FE70;
  margin-top: 25%;

}
.bubbles-names{
  display: inline-block;
  margin: 50px
}
.text-box{
  background-color: #B1FE70;
  color: #3C1642;
  border-radius: 10px;
  border-color: #B1FE70;
}

.user{
  display: flex;
  padding-right: 30px;
  position: relative;
  margin: 10px;
  width: 50%;
  color: #ffffff;
  background-color: #00754a;
  padding: 10px;
  align-self: flex-end;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.notUser{
  color: #ffffff;
  background-color: #194590;
  align-self: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  padding: 10px;
  align-self: right;
  width: 50%;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#message-form{
  position: absolute;
  bottom: 1px;
  width: 50%;
  position: fixed;
  left: 50%;
  /* bottom: 20px; */
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#reaction-form{
  bottom: 10px;
  position: relative;
  visibility: hidden;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #0c2224;
}

a:active {
  text-decoration: #0c2224;
}