#modal-box{
  background-color: #139B93;
  padding: 10%;
  height : 100%;
  overflow: auto;
  max-height: calc(100vh - 200px);
}

#message{
  text-align: center;
  background-color: #B1FE70;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  color: #3C1642;
}
body {
  background-color: #139B93;
  padding: 10%;
}

.button-old{
  background-color: #B1FE70;
  color: #3C1642;
  border-radius: 5px;
  border-color: #B1FE70;
  margin:10px;
}
#message-text{
  background-color: #B2FF9E;
  color: #3C1642;
  border-radius: 5px;
  border-color: #B2FF9E;
}
#chatroom-name{
  background-color: #B2FF9E;
  color: #3C1642;
  border-radius: 5px;
  border-color: #B2FF9E;
}

#log-in-modal{
  background-color: #139B93;
  text-align: center;
  height : 100%;
  color: black;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#log-in-button{
  background-color: #B1FE70;
  color: #3C1642;
  border-radius: 5px;
  border-color: #B1FE70;
  margin-top: 25%;

}
.bubbles-names{
  display: inline-block;
  margin: 50px
}
.text-box{
  background-color: #B1FE70;
  color: #3C1642;
  border-radius: 5px;
  border-color: #B1FE70;
}