#modal-box{
  background-image: url("../public/Images/theme.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  height : 100%;
  overflow: auto;
  max-height: calc(100vh - 200px);
  display: flex;
  flex-wrap: wrap;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/Images/theme.png");
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  place-items: center;

}
#log-in-modal {
  background-image: url("../public/Images/theme.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  color: black;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px;
  background-color: rgba(194, 248, 248, 0.5); /* Baby blue with 80% opacity */
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.button-old{
  background-color: #C6F69F;
  color: #3C1642;
  border-radius: 5px;
  border-color: #C6F69F;
  margin:10px;
  text-decoration: none;
}
#message-text{
  background-color: #C6F69F;
  color: #163E42;
  border-radius: 15px;
  border-color: #C6F69F;
}
#chatroom-name{
  background-color: #C6F69F;
  color: #3C1642;
  border-radius: 5px;
  border-color: #C6F69F;
}
#message{
  margin: 25px;
 }
#log-in-button{
  background-color: #C6F69F;
  color: #3C1642;
  border-radius: 5px;
  border-color: #C6F69F;
  margin-top: 25%;
}
.bubbles-names{
  display: inline-block;
  margin: 50px
}
.text-box{
  background-color: #C6F69F;
  color: #3C1642;
  border-radius: 10px;
  border-color: #C6F69F;
}
.user{
  display: flex;
  padding-right: 30px;
  position: relative;
  margin: 50px;
  width: 50%;
  color: #FFFFFF;
  background-color: #00754A;
  padding: 10px;
  align-self: flex-end;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.notUser{
  color: #FFFFFF;
  background-color: #194590;
  align-self: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  padding: 10px;
  align-self: right;
  width: 50%;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
#message-form{
  position: absolute;
  bottom: 1px;
  width: 50%;
  position: fixed;
  left: 50%;
  /* bottom: 20px; */
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
#reaction-form{
  bottom: 10px;
  position: relative;
  visibility: hidden;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #0C2224;
}
a:active {
  text-decoration: #0C2224;
}

#p{
  margin-left: 10px;
}


.bubble-text {
position: relative;
max-width: 500px;
padding: 20px;
border-radius: 20px;
background-color:rgba(7, 56, 120, 0.5);
border: 1px solid rgb(255, 235, 205);
top: 0px;
margin: auto;
/* display: flex; */
/* justify-content: space-around; */
text-align: center;
align-items: center;


} 

h1, label {

  color: blanchedalmond;
}

h3,h2 {

  color: #3C1642;
}

.current-user {
  color: #3C1642;
}



